<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <figure>
      <img [src]="miUser.image" class="img-fluid rounded-start" [alt]="miUser.username">
      </figure>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{miUser.first_name}}</h5>
        <p class="card-text">{{miUser.last_name}}</p>
        <p class="card-text"><small class="text-body-secondary">{{miUser.email}}</small></p>
        <app-botonera [parent]="'card'" [userId]="miUser._id"></app-botonera>
      </div>

    </div>
  </div>
</div>
