<section class="container mt-3">
  <div class="card shadow p-3">
    <div class="row">
      <figure class="col-12 col-md-3">
        <img class="img-fluid" [src]="unUser.image" [alt]="unUser.username">
      </figure>
      <div class="col-12 col-md-9">
        <h2>{{unUser.first_name}}</h2>
        <hr>
        <p>Nombre: {{unUser.first_name}}</p>
        <p>Apellido: {{unUser.last_name}}</p>
        <p>Username: {{unUser.username}}</p>
        <p>Email: {{unUser.email}}</p>

        <app-botonera-user-view [parent]="'view'" [userId]="unUser._id"></app-botonera-user-view>
      </div>
    </div>
  </div>
</section>

